@import "../../assets/scss/variables";

.deals--search-container {
  background: linear-gradient(
    133.7deg,
    #37a2c4 -28.07%,
    rgba(1, 61, 80, 0.91) 113.16%
  );
  height: 200px;
  .deals--search-background {
    background: url("../../assets/images/bg-deals-header.svg");
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
    height: 100%;
    h2 {
      margin: 0;
      padding: 3rem 0;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 54px;
      color: #ffffff;
      text-align: center;
      @media (min-width: $breakpoint-tablet) {
        font-size: 36px;
      }
    }
    .deals--search-section {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .oc-search-bar {
      height: 34px;
      border: unset;
      justify-content: center;
      display: flex;
      @media (min-width: $breakpoint-tablet) {
        margin: 0.5rem;
        width: 500px;
        margin: 0 1rem;
      }

      .input-group {
        width: 80%;
        background: #ffffff !important;
        border: 1px solid #e5e5e5 !important;
        box-sizing: border-box !important;
        border-radius: 5px !important;
        @media (min-width: $breakpoint-tablet) {
          width: 500px;
        }

        input {
          font-family: Nunito !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-size: 12px !important;
          line-height: 16px !important;
          color: #bdbdbd !important;
        }
      }
      .input-group-btn {
        .btn {
          background-color: #ffffff;
          border-color: #ffffff;
          border: unset;
          svg {
            color: #490f83;
          }
        }
      }
    }
    .deals-search-select {
      .btn--select {
        background: #ffffff;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        padding: 0.8rem 2rem;
        p {
          font-family: Gothic A1;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #bdbdbd;
          margin: 0;
          margin-right: 1rem;
        }
      }
      .card--select {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: unset;
        @media (min-width: $breakpoint-tablet) {
          margin-left: 8rem;
          position: absolute;
        }
        span {
          margin: 1rem;
          display: flex;
          p {
            font-family: Poppins;
            font-style: normal;
            font-size: 11px;
            line-height: 10px;
            color: #939191;
            margin: 0 1rem;
          }
          .active {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.deals--tabs-container {
  margin: 2rem;
  @media (min-width: $breakpoint-tablet) {
    margin: 5rem;
  }
  @media (min-width: $breakpoint-desktop-l) {
    margin: 17rem;
  }
  .subscription-carousel {
    display: flex;
    flex-wrap: wrap;
    .single--deal {
      margin: 1rem;
    }
    .subscription-card {
      width: 200px !important;
    }
  }

  .nav-tabs {
    margin: 3rem 0rem;
  }
  .nav-tabs .nav-item .nav-link {
    border-radius: unset !important;
    margin: 0;
    border: unset !important;
    background-color: unset !important;
    font-family: Nunito;
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    padding: 0.5rem 1rem;
    box-sizing: unset;
    color: #4f4f4f;
  }
  .nav-tabs .nav-item .nav-link.active {
    font-weight: bold;
    border-bottom: 3px solid #ff9b00 !important;
  }
  .nav-tabs .nav-item .nav-link.active:before,
  .nav-tabs .nav-item .nav-link.active:hover:before,
  .nav-tabs .nav-item .nav-link.active:focus:before {
    border-bottom: unset;
    border-left: unset;
    border-right: unset;
    content: "";
    display: unset;
    position: unset;
    right: unset;
    bottom: unset;
  }
  .nav-tabs .nav-item .nav-link.active:after,
  .nav-tabs .nav-item .nav-link.active:hover:after,
  .nav-tabs .nav-item .nav-link.active:focus:after {
    border-bottom: unset;
    border-left: unset;
    border-right: unset;
    content: "";
    display: unset;
    position: unset;
    right: unset;
    bottom: unset;
  }
}
